.container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.title{
    color: #000;
    margin-right: 10px;
    width: 30%;
}
.value{
    display: flex;
    flex: 1;
    width: 60%;
}
.Toastify__toast-container--top-center {
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
  .filterBox {
    border: 2px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f9f9f9;
    max-width: 300px;
  }
  
  .filterBox select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
  }
  
  .filterBox select:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .filterBox button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .filterBox button:hover {
    background-color: #45a049;
  }
  
  .filterBox button:focus {
    outline: none;
  }