.table {
    width: 100%; // 确保表格填满父容器
    table-layout: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    th,
    td {
      width: 8%; // 设置单元格宽度为父容器宽度的二十分之一
      background-color: rgba(228, 239, 239, 0.889);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; /* 使用省略号表示溢出的文本 */
      text-align: center; /* 水平居中 */
      vertical-align: middle; /* 垂直居中 */
  }
}
