
.pageTitle {
    text-align: center;
    margin-top: 50px;
    font-size: 2em; 
  }
.headContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
}
.dialogContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.tableButtonContainer{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.noneContent {
    text-align: center; 
    margin-top: 50px;
}